<div class="login-container">
    <h1>NaturalSocial</h1>
    <p>
    This social aims to improve the people live in the city so that they can increase the quality of life by sharing their experiencese and ideas
    so that they can make cities the centers for new ideas, innovations, science, commerce, culture, productivity and social development. 
    If you want to be part of this community.
    </p>


    <button mat-button  (click)="login()">
        <strong>Register  Now!</strong>
    </button>
</div>
