<app-header></app-header>
<div class="container">
    <mat-card class="newpost-card">
        <mat-card-header style="display: flex; flex-direction: column;">
            <h1>Create new post</h1>
            <p class="info">Fill in the form below to create a new post.</p>
        </mat-card-header>
    <form #newPostForm="ngForm" (ngSubmit)="NewPost()">
        <label class="label" for="title">Title</label>
        <input class="form-content" matInput #title="ngModel" name="title" [(ngModel)]="newPost.title" placeholder="title" type="text" required
        minlength="10">
        <div *ngIf="title.invalid && title.dirty">
            <mat-error style="color: red;">Title is required, at least 10 characters</mat-error>
        </div>
        <label class="label" for="body">Text</label> 
        <textarea class="form-content" matInput #body="ngModel" name="body" [(ngModel)]="newPost.body" placeholder="body" type="text" cols="30" rows="10"
        minlength="10" required>
        </textarea>
        <div *ngIf="body.invalid && body.dirty">
            <mat-error style="color: red;">Body is required, at least 10 characters</mat-error>
        </div>
    <button mat-button class="confirm-button" type="submit" [disabled]="!newPostForm.touched && !newPostForm.form.valid">Confirm</button>
    </form>
    </mat-card>
</div>

