<app-header></app-header>
<div class="user-container">
<div class="search-bar">
   <input matInput #searchBox type="text" id="search" placeholder="Search User"
   (input)="getUser('1', pageSize, searchBox.value)"/>
   <button mat-button routerLink="/newUser">
    <mat-icon>person_add</mat-icon>
   </button>
</div>
<div class="user-card" *ngFor="let user of users" routerLink="/userpage/{{user.id}}">
<mat-card class="card">
   <mat-card-header>
     <div mat-card-avatar style="display: flex; justify-content: center;">
       <img src="./assets/icon-male.png" alt="" *ngIf="user.gender === 'male'">
       <img src="./assets/icon-female.png" alt="" *ngIf="user.gender === 'female'">
     </div>
     <mat-card-title >
       {{user.name}}
     </mat-card-title>
     <mat-card-subtitle>
       {{user.email}}
     </mat-card-subtitle>
   </mat-card-header>
 </mat-card>
</div>

 <h1 *ngIf="users.length == 0" class="no-user">
 There is no other users
 </h1>


<div>
 <mat-paginator [length]="pageTotal" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
 aria-label="Select page" style="background-color: transparent;"></mat-paginator>
</div>
</div>