<app-header></app-header>
<div class="container">
    <mat-card class="newuser-card">
    <mat-card-header style="display: flex; flex-direction: column;">
        <h1>Create New User</h1>
        <p class="info">Fill in the details to create a new user</p>
    </mat-card-header>
        <mat-card-content>
    <form #newUserForm="ngForm" (ngSubmit)="createNewUser()">
            <label class="label" for="name">Name</label>
            <input class="form-content" matInput #name="ngModel" id="name" name="name" [(ngModel)]="newUser.name" placeholder="name" type="text"
            required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <mat-error style="color: red; font-size: 12px">Name is required</mat-error></div>
            <label class="label" for="email">Email</label>
            <input class="form-content" matInput #email="ngModel" name="email" [(ngModel)]="newUser.email" placeholder="email" type="email"
            required id="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9-.]+\.[a-z]{2,}"/>
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <mat-error style="color: red; font-size: 12px">Email is required</mat-error></div>
            <label class="label" for="gender">Gender</label>
            <mat-select class="form-content" [(ngModel)]="selectedGenderValue" id="gender" name="gender" id="gender" [(ngModel)]="newUser.gender" required>
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
            </mat-select>
      
        <mat-card-actions>
            <button mat-button class="confirm-button" type="submit" [disabled]="!newUserForm.touched && !newUserForm.form.valid">Confirm</button>
        </mat-card-actions>
    </form>
    </mat-card-content>
    </mat-card>
</div>
